alabaster==0.7.12
anyio==3.5.0
appdirs==1.4.4
appnope==0.1.2
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asn1crypto==1.3.0
astroid==2.3.3
atk-1.0==2.36.0==hb642b71_0
attrs==19.3.0
audioread==2.1.8
autograd==1.3
autograd-gamma==0.4.2
autopep8==1.5.3
babel==2.8.0
backcall==0.1.0
blas==1.0==mkl
bleach==3.1.0
bokeh==2.1.1
boto3==1.17.0
botocore==1.20.112
brotli==1.0.9
brotlipy==0.7.0
bzip2==1.0.8==h1de35cc_0
ca-certificates==2022.4.26==hecd8cb5_0
cachetools==4.2.4
cachey==0.2.1
cairo==1.16.0==h8023c5d_1
certifi==2020.12.5
cffi==1.14.0
chardet==3.0.4
charset-normalizer==2.0.10
click==8.0.3
cloudpickle==2.0.0
colorama==0.4.4
colorednoise==1.1.1
combo==0.1.2
cryptography==2.8
cycler==0.10.0
dash==2.0.0
dash-core-components==2.0.0
dash-cytoscape==0.3.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2022.1.0
debugpy==1.5.1
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.4
distributed==2022.1.0
docutils==0.16
entrypoints==0.3
expat==2.4.4==he9d5cce_0
ffmpeg==4.3==h0a44026_0
flask==2.0.2
flask-compress==1.10.1
font-ttf-dejavu-sans-mono==2.37==hd3eb1b0_0
font-ttf-inconsolata==2.001==hcb22688_0
font-ttf-source-code-pro==2.030==hd3eb1b0_0
font-ttf-ubuntu==0.83==h8b1ccd4_0
fontconfig==2.13.1==ha9ee91d_0
fonts-anaconda==1==h8fa9717_0
fonts-conda-ecosystem==1==hd3eb1b0_0
fonttools==4.28.5
freetype==2.11.0==hd8bbffd_0
freetype-py==2.2.0
fribidi==1.0.10==haf1e3a3_0
fsspec==0.8.5
funcy==1.17
future==0.18.2
g-ir-build-tools==1.70.0==py37h4645836_1
g-ir-host-tools==1.70.0==h7190600_1
gdk-pixbuf==2.42.6==h712c34a_5
gensim==3.7.3
geojson==2.5.0
gettext==0.21.0==h7535e17_0
gevent==21.12.0
gitdb==4.0.9
gitpython==3.1.27
glib==2.70.2==hcf210ce_4
glib-tools==2.70.2==hcf210ce_4
gmp==6.2.1==h23ab428_2
gnutls==3.6.15==hed9c0bf_0
gobject-introspection==1.70.0==py37h899b35e_1
google-api-core==1.31.5
google-auth==1.35.0
google-cloud-core==1.7.2
google-cloud-storage==1.36.1
google-crc32c==1.3.0
google-resumable-media==1.3.3
googleapis-common-protos==1.54.0
graphite2==1.3.14==h38d11af_0
graphviz==2.50.0==h77de9ca_1
greenlet==1.1.2
gtk2==2.24.33==h675d97a_1
gts==0.7.6==hd732f65_2
harfbuzz==3.1.2==he73883e_0
heapdict==1.0.1
hsluv==5.0.2
icu==58.2==h0a44026_3
idna==2.9
imageio==2.8.0
imageio-ffmpeg==0.4.1
imagesize==1.2.0
imbalanced-learn==0.7.0
importlib-metadata==1.5.0
importlib-resources==5.4.0
intel-openmp==2021.4.0==hecd8cb5_3538
interpret==0.2.7
interpret-core==0.2.7
ipykernel==5.3.4
ipympl==0.5.7
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==2.0.1
jedi==0.16.0
jinja2==3.0.3
jmespath==0.10.0
joblib==0.16.0
joypy==0.2.2
jpeg==9d==h9ed2024_0
json5==0.9.4
jsonschema==3.2.0
jupyter-cache==0.4.3
jupyter-client==7.1.2
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-server==1.13.3
jupyter-server-mathjax==0.2.5
jupyter-sphinx==0.3.2
jupyterlab==3.3.0
jupyterlab-execute-time==2.1.0
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.2
jupyterthemes==0.20.0
kiwisolver==1.2.0
lame==3.100==h1de35cc_0
lazy-object-proxy==1.4.3
lcms2==2.12==hf1fd2bf_0
lesscpy==0.14.0
libcxx==12.0.0==h2f01273_0
libffi==3.4.2==he9d5cce_2
libgd==2.3.3==he7e2580_0
libgirepository==1.70.0==h128b86d_1
libglib==2.70.2==hf1fb8c0_4
libiconv==1.16==h1de35cc_0
libidn2==2.3.2==h9ed2024_0
libpng==1.6.37==ha441bb4_0
librosa==0.8.0
librsvg==2.52.5==h02b643e_1
libtasn1==4.16.0==h9ed2024_0
libtiff==4.2.0==h87d7836_0
libtool==2.4.6==he9d5cce_1008
libunistring==0.9.10==h9ed2024_0
libuv==1.40.0==haf1e3a3_0
libwebp-base==1.2.0==h9ed2024_0
libxml2==2.9.12==hcdb78fc_0
libzlib==1.2.11==h9173be1_1013
lifelines==0.24.13
lime==0.2.0.1
llvm-openmp==12.0.0==h0dcd299_1
llvmlite==0.34.0
locket==0.2.1
lxml==4.5.2
lz4-c==1.9.3==h23ab428_1
markdown-it-py==1.1.0
markupsafe==2.0.1
matplotlib==2.2.5
matplotlib-inline==0.1.3
mccabe==0.6.1
mdit-py-plugins==0.2.8
missingno==0.5.1
mistune==0.8.4
mkl==2021.4.0==hecd8cb5_637
mkl-service==2.4.0==py37h9ed2024_0
mkl_fft==1.3.1==py37h4ab4a9b_0
mkl_random==1.2.2==py37hb2f4e1b_0
mlxtend==0.16.0
msgpack==1.0.3
multiprocess==0.70.12.2
myst-nb==0.13.2
myst-parser==0.15.2
napari-plugin-engine==0.1.8
napari-svg==0.1.4
nbclassic==0.3.5
nbclient==0.5.9
nbconvert==5.6.1
nbdime==3.1.1
nbformat==5.0.4
nbresuse==0.3.6
ncurses==6.3==hca72f7f_2
nest-asyncio==1.5.4
nettle==3.7.3==h230ac6f_1
networkx==2.4
ninja==1.10.2==py37haf03e11_3
notebook==6.0.3
numba==0.51.2
numexpr==2.8.1
numpy==1.18.5
numpy-base==1.21.5==py37h3b1a694_2
numpydoc==1.1.0
olefile==0.46==py37_0
opencv-python==4.2.0.34
openh264==2.1.1==h8346a28_0
openssl==1.1.1o==hca72f7f_0
packaging==21.3
pandas==1.0.5
pandocfilters==1.4.2
pango==1.48.10==h056538c_2
parso==0.6.2
partd==1.2.0
pathos==0.2.8
patsy==0.5.2
pcre==8.45==h23ab428_0
pexpect==4.8.0
pickleshare==0.7.5
pillow==7.2.0==py37hf860fee_2
pip==22.1
pixman==0.40.0==h9ed2024_1
pkg-config==0.29.2==h3efe00b_8
plotly==5.5.0
ply==3.11
pooch==1.2.0
pox==0.3.0
ppft==1.6.6.4
prometheus-client==0.7.1
prompt-toolkit==3.0.4
protobuf==3.19.3
psutil==5.7.2
ptyprocess==0.6.0
pyarrow==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pygments==2.6.1
pyldavis==3.3.1
pylint==2.4.4
pyod==0.8.2
pyopengl==3.1.5
pyopenssl==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
pysocks==1.7.1==py37hecd8cb5_0
python==3.7.12==haf480d7_100_cpython
python-dateutil==2.8.1
python-graphviz==0.19.1
python_abi==3.7==2_cp37m
pytorch==1.11.0==py3.7_0
pytz==2020.1
pywavelets==1.1.1
pyyaml==5.3.1
pyzmq==18.1.1
qtconsole==4.7.7
qtpy==1.9.0
readline==8.1.2==hca72f7f_1
requests==2.23.0
resampy==0.2.2
responsibly==0.1.3
retrying==1.3.3
rsa==4.8
s3transfer==0.3.7
salib==1.4.5
scikit-image==0.16.2
scikit-learn==0.23.1
scipy==1.5.0
seaborn==0.11.1
send2trash==1.5.0
setuptools==58.0.4==py37hecd8cb5_0
shap==0.40.0
six==1.14.0
sk-video==1.1.10
sklearn==0.0
skope-rules==1.0.1
slicer==0.0.7
smart-open==5.2.1
smmap==5.0.0
sniffio==1.2.0
snowballstemmer==2.0.0
sortedcontainers==2.4.0
soundfile==0.10.3.post1
sphinx==3.2.1
sphinx-togglebutton==0.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlalchemy==1.3.19
sqlite==3.37.0==h707629a_0
statsmodels==0.12.0
suod==0.0.8
tabulate==0.8.9
tbb==2021.4.0
tblib==1.7.0
tenacity==8.0.1
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.10.1
tk==8.6.11==h7bc2e8c_0
toml==0.10.1
toolz==0.11.1
torchaudio==0.11.0==py37_cpu
torchvision==0.12.0==py37_cpu
tornado==6.1
tqdm==4.45.0
traitlets==5.1.1
treeinterpreter==0.2.3
typed-ast==1.4.3
typing_extensions==4.1.1==pyh06a4308_0
urllib3==1.25.8
vispy==0.6.5
wcwidth==0.1.9
webencodings==0.5.1
websocket-client==1.2.3
werkzeug==2.0.2
wheel==0.37.1==pyhd3eb1b0_0
widgetsnbextension==3.5.1
wrapt==1.11.2
xgboost==1.5.2
xlrd==1.2.0
xz==5.2.5==h1de35cc_0
zict==2.0.0
zipp==2.2.0
zlib==1.2.11==h9173be1_1013
zope-event==4.5.0
zope-interface==5.4.0
zstd==1.4.9==h322a384_0
